@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
html,
body {
  height: 100%;
}
html,
body,
h1,
h2,
h3,
p,
img,
header,
footer,
a,
ul,
li,
section,
article,
nav,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #2e2e2e;
  background-color: #ffffff;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
ul,
ol,
li {
  list-style-type: none;
}
a {
  background: transparent;
  text-decoration: none;
  color: #2e2e2e;
}
a:active,
a:hover {
  outline: 0;
}
strong {
  font-weight: bold;
}
img {
  border: 0;
  vertical-align: middle;
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
button {
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background: #fa4875;
}
::-moz-selection {
  background: #fa4875;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: .1em solid #dddddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.img-thumbnail:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4);
}
.antialiased {
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-font-smoothing: antialiased;
}
.box {
  margin-bottom: 2em;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.no-padding {
  padding: 0;
}
.inline li {
  display: inline-block;
  padding: .5em .2em;
  text-transform: uppercase;
  font-weight: bold;
}
.inline li a {
  padding: .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
.inline li a:hover {
  background: #fa4875;
  color: #fff;
}
.selected {
  background: #fa4875;
  color: #fff;
}
.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4em;
  margin-bottom: 2em;
}
.btn-primary {
  background-color: #fa4875;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  padding: 12px 24px;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #fa5780;
}
.btn-primary:active {
  box-shadow: none;
  height: 45px;
  margin-top: 3px;
}
.separator {
  height: .09em;
  border: none;
  width: 50%;
  margin-bottom: 2.5em;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #e8e8e8 51%, #ffffff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(51%, #e8e8e8), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e8e8e8 51%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #e8e8e8 51%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e8e8e8 51%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%, #e8e8e8 51%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}
/* HEADER */
#header {
  padding: 3em 0;
  border-bottom: 0.1em solid #e8e8e8;
}
#header #logo {
  float: left;
  font-size: 2.3em;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
#header #main-nav {
  float: right;
  margin-top: .5em;
}
/* PARTIALS CONTAINER */
#partials-container {
  padding: 5em 0;
  /* HOME PARTIAL */
  /* PORTFOLIO PARTIAL */
  /* PORTFOLIO ITEM PARTIAL */
  /* ABOUT PARTIAL */
  /* CONTACT PARTIAL */
}
#partials-container #home-partial p {
  font-size: 1.2em;
  margin-bottom: 2em;
}
#partials-container #home-partial .heading h1 {
  font-size: 1.3em;
  text-transform: none;
  font-weight: normal;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-font-smoothing: antialiased;
}
#partials-container #home-partial .btn-primary {
  display: block;
  width: 17em;
}
#partials-container #portfolio-partial .btn-primary {
  display: block;
  width: 9.5em;
}
#partials-container .portfolio-item .align-center {
  margin-top: 2em;
}
#partials-container .portfolio-item .img-thumbnail:hover {
  background: #fff;
  transform: none;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}
#partials-container .portfolio-item h3 {
  margin-bottom: .7em;
  font-size: 1.1em;
  text-transform: uppercase;
}
#partials-container .portfolio-item .item-description p {
  margin-bottom: 3em;
}
#partials-container #about-partial h3 {
  padding-top: 0;
  text-transform: uppercase;
  margin-bottom: 1em;
}
#partials-container #about-partial .btn-primary {
  display: block;
  width: 12.6em;
}
#partials-container #about-partial .personal-info {
  border-right: .1em solid #e8e8e8;
  padding: 0 2em;
}
#partials-container #about-partial .graphs-container {
  padding: 0 2em;
}
#partials-container #about-partial .graphs-container span {
  text-transform: uppercase;
}
#partials-container #about-partial .graph {
  height: 1em;
  width: 1em;
  margin-bottom: 2em;
}
#partials-container #about-partial .graph#html {
  background-color: #e54d26;
  background-image: -webkit-gradient(linear, left top, right top, from(#e54d26), to(#f49247));
  background-image: -webkit-linear-gradient(left, #e54d26, #f49247);
  background-image: -moz-linear-gradient(left, #e54d26, #f49247);
  background-image: -ms-linear-gradient(left, #e54d26, #f49247);
  background-image: -o-linear-gradient(left, #e54d26, #f49247);
}
#partials-container #about-partial .graph#css {
  background-color: #006ebd;
  background-image: -webkit-gradient(linear, left top, right top, from(#006ebd), to(#2aa9de));
  background-image: -webkit-linear-gradient(left, #006ebd, #2aa9de);
  background-image: -moz-linear-gradient(left, #006ebd, #2aa9de);
  background-image: -ms-linear-gradient(left, #006ebd, #2aa9de);
  background-image: -o-linear-gradient(left, #006ebd, #2aa9de);
}
#partials-container #about-partial .graph#photoshop {
  background-color: #3ab4e7;
  background-image: -webkit-gradient(linear, left top, right top, from(#3ab4e7), to(#185ca7));
  background-image: -webkit-linear-gradient(left, #3ab4e7, #185ca7);
  background-image: -moz-linear-gradient(left, #3ab4e7, #185ca7);
  background-image: -ms-linear-gradient(left, #3ab4e7, #185ca7);
  background-image: -o-linear-gradient(left, #3ab4e7, #185ca7);
}
#partials-container #about-partial .graph#javascript {
  background-color: #396b6b;
  background-image: -webkit-gradient(linear, left top, right top, from(#396b6b), to(#05a8a7));
  background-image: -webkit-linear-gradient(left, #396b6b, #05a8a7);
  background-image: -moz-linear-gradient(left, #396b6b, #05a8a7);
  background-image: -ms-linear-gradient(left, #396b6b, #05a8a7);
  background-image: -o-linear-gradient(left, #396b6b, #05a8a7);
}
#partials-container #about-partial .graph#php {
  background-color: #3d476a;
  background-image: -webkit-gradient(linear, left top, right top, from(#3d476a), to(#6b7dbb));
  background-image: -webkit-linear-gradient(left, #3d476a, #6b7dbb);
  background-image: -moz-linear-gradient(left, #3d476a, #6b7dbb);
  background-image: -ms-linear-gradient(left, #3d476a, #6b7dbb);
  background-image: -o-linear-gradient(left, #3d476a, #6b7dbb);
}
#partials-container #contact-partial p {
  line-height: 3em;
}
#partials-container #contact-partial h2 {
  font-weight: normal;
  margin-bottom: 1em;
}
#partials-container #contact-partial a {
  color: #3d599a;
}
#partials-container #contact-partial a:hover {
  text-decoration: underline;
}
/* FOOTER */
#footer {
  text-align: center;
  background: #303030;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}
#footer p {
  padding: 5em 0;
  color: #aeaeae;
}
