<div id="about-partial">

	<div class="row heading">
		<div class="col-sm-12">
			<h1>About</h1>	
		</div>
	</div>

	<div class="row box">
		<hr class="separator">
		<div class="col-sm-6 box personal-info">
			<h3 class="align-center">Personal info</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nostrum veniam nobis vitae odit! Corrupti vitae quasi explicabo, officiis omnis sunt minima velit, asperiores, delectus tempore quisquam rem earum officia!</p><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, officia rerum nulla quidem dolor sunt ipsam repudiandae quasi ad? Asperiores et repellat itaque deserunt exercitationem, nihil suscipit. Quia, quasi, doloribus!</p>
			<br>
			<h3 class="align-center">About the site</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nostrum veniam nobis vitae odit! Corrupti vitae quasi explicabo, officiis omnis sunt minima velit, asperiores, delectus tempore quisquam rem earum officia!</p><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, officia rerum nulla quidem dolor sunt ipsam repudiandae quasi ad? Asperiores et repellat itaque deserunt exercitationem, nihil suscipit. Quia, quasi, doloribus!</p>
		</div>

		<div class="col-sm-6 box graphs-container">
			<h3 class="align-center">Skills</h3>
			<span>html</span>
			<div id="html" class="graph"></div>
			<span>css</span>
			<div id="css" class="graph"></div>
			<span>photoshop</span>
			<div id="photoshop" class="graph"></div>
			<span>javascript</span>
			<div id="javascript" class="graph"></div>
			<span>php</span>
			<div id="php" class="graph"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="#/portfolio" class="btn-primary">see my portfolio</a>
		</div>
	</div>

</div>
