<div id="home-partial">
	<div class="row heading">
		<div class="col-sm-12">
			<h1><em>&#8220; Hi i'm Bob, a juniour front-end dev who search for career opurtunity. &#8222;</em></h1>	
		</div>
	</div>
	<hr class="separator">
	
	<p class="align-center">Check out some of my work.</p>
	
	<div class="row box">
		<div class="col-sm-4 box portfolio-entry" >
			<a href="#/portfolio/1"><img src="images/blue-easy/01.jpg" class="img-thumbnail"></a>
		</div>
		<div class="col-sm-4 box portfolio-entry" >
			<a href="#/portfolio/2"><img src="images/wheat-psd/01.jpg" class="img-thumbnail"></a>
		</div>
		<div class="col-sm-4 box portfolio-entry" >
			<a href="#/portfolio/6"><img src="images/sheeps-rams/02.jpg" class="img-thumbnail"></a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<a href="#/portfolio" class="btn-primary">or see my full portfolio</a>
		</div>
	</div>

</div>
